$navy:#004A96;
$blue:#21A0D2;
$dark:#333333;
$gray:#646569;
$yellow:#fffbe1;
$pink:#ffeeee;
$water:#ADE1F0;
$orange:#F39500;
$dark-brown:#af6638;
$light-brown:#eac5a7;
$dark-lake: #92eadb;
$light-lake: #cafdff;
$grass: #deffe4;
$green:#65AC1E;
$jungle: #1b6d5d;
$red: #de4f43;
$brown: #b98c5b;

@mixin flex {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

@mixin jcc {
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
}

@mixin jcsb {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
}

@mixin aic {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

@mixin background($w, $h, $i, $z:cover) {
	width: $w;
	height: $h;
	background-image: $i;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: $z;
}

@mixin translate($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
}

@mixin transition($x) {
    transition: all $x;
    -webkit-transition: all $x;
    -moz-transition: all $x;
    -o-transition: all $x;
    -ms-transition: all $x;
}

@mixin row {
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

@mixin column {
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
}

@mixin shadow($x, $y, $b, $a) {
    box-shadow: $x $y $b rgba(#000, $a);
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;700;900&display=swap');


@keyframes updown {
	0% {@include translate(0%, -0.5%)};
	100% {@include translate(0%, 0.5%)};
}
@keyframes swing {
	0% {@include translate(5%, 0%)};
	100% {@include translate(-5%, 0%)};
}
@keyframes planeFly {
	0% {@include translate(0%, 0%)};
    20% {@include translate(100%, 0%)};
    40% {@include translate(200%, 30%)};
    60% {@include translate(0%, 0%)};
    80% {@include translate(-100%, 60%)};
	100% {@include translate(-200%, 0%)};
}
@keyframes planeFly2 {
	0% {@include translate(0%, 0%)};
    20% {@include translate(200%, 0%)};
    40% {@include translate(150%, 50%)};
    60% {@include translate(100%, 0%)};
    80% {@include translate(200%, 50%)};
	100% {@include translate(0%, 0%)};
}
@keyframes swipe {
	0% {@include translate(6%, 0%);opacity: 0;};
	25% {@include translate(3%, 0%);opacity: 1;};
	50% {@include translate(0%, 0%);opacity: 1;};
	75% {@include translate(-3%, 0%);opacity: 1;};
	100% {@include translate(-6%, 0%);opacity: 0;};
}
@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-5deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}
@keyframes zoom {
    0% {transform: scale(1);}
    100% {transform: scale(1.05);}
}
@keyframes spark {
    0% {width: 10px;height: 10px;}
    50% {width: 20px;height: 20px;}
	100% {width: 10px;height: 10px;}
}
@keyframes spark-bd {
    0% {width: 20px;height: 20px;}
    50% {width: 30px;height: 30px;}
	100% {width: 20px;height: 20px;}
}
@keyframes nextYear {
    0% {background-color: opacity;}
    100% {background-color: $orange;}
}
@keyframes nextYearSpan {
    0% {color: $orange;}
    100% {color: #fff;}
}
@keyframes fadeIn {
    0% {opacity: 1;}
    30% {opacity: 1;}
	60% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes boomFadeLg {
    0% {opacity: 1;transform: scale(1);}
	100% {opacity: 0;transform: scale(1.5);}
}
@keyframes btnHighlight {
    0% {background-color: $jungle;color: #fff;}
	100% {background-color: #fff;color: $jungle;}
}
@keyframes bottleRotate {
    0% {transform: translate(-50%,-50%) rotate(-5deg);}
	100% {transform: translate(-50%,-50%) rotate(5deg);}
}