/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import './variable';

// agenda
.agenda {
	margin-top: 50px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
	.container-fluid {
		width: 82%;
		@media only screen and (max-width: 767px) {
			width: 90%;
		}
		.title {
			text-align: center;
			margin-bottom: 30px;
			color: $blue;
			font-weight: bold;
		}
		.schedule {
			
			.thead {
				background-color: $blue;
				color: #fff;letter-spacing: 1px;
				th {
					padding: 15px;
				}
			}
			.tbody {
				tr {
					&.break {background-color: $gray1;}
					td {
						padding: 15px;
						vertical-align: middle;
						
						a {
							color: $blue;
							&:hover {
								text-decoration: none;
								color: $lightblue;
							}
						}
					}
				}
			}
			@media only screen and (max-width: 767px) {
				overflow-x: scroll;
			}
		}
	}
	@keyframes charge {
		0% {
			@include translate(0%,0%);
		}
		100% {
			@include translate(2%,0%);
		}
	}
}

.footer {
	margin-top: 0;
}