/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import './variable';

// registration
.registration {
	margin-top: 50px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
	.container-fluid {
		width: 70%;
		@media only screen and (max-width: 1279px) {
			width: 80%;
		}
		@media only screen and (max-width: 767px) {
			width: 90%;
		}
		.title {
			text-align: center;
			margin-bottom: 30px;
			color: $blue;
			font-weight: bold;
		}
		.regisPad {
			.form-group {
				margin-top: 50px;
				@include flex;
				@include jcsb;
				@include aic;
				@media only screen and (max-width: 767px) {
					@include column;
				}
				width: 100%;
				label {
					white-space: nowrap;
					margin-right: 5px;
					color: $blueblack;
					sup {color: $rgblue;}
				}
				span {
						@media only screen and (max-width: 767px) {display: none;}
					}
				.form-control {
					position: relative;
					display: inline-block;
					background-color: transparent;
					border-radius: 0;
					box-shadow: none;
					border: none;outline: none;
					border-bottom: 1px solid $gray2;
					@include transition(.2s);
					@media only screen and (max-width: 767px) {
						text-align: center;
					}
					// &[name="Tel1"] {width: 10%;min-width: 50px;}
					// &[name="Tel2"] {width: 30%;min-width: 140px;}
					// &[name="Tel3"] {width: 10%;min-width: 60px;}
					// &[name="MobilePhone"] {width: 56%;}
					// @media only screen and (max-width: 767px) {
					// 	&[name^="Tel"] {margin-bottom: 10px;}
					// 	&[name="MobilePhone"] {width: 100%;}
					// }
					&:hover {
						border-color: $gray3;
					}
					&:focus {
						border-color: $blue;
					}
				}
				font {
					@media only screen and (max-width: 767px) {
						display: none;
					}
				}
				.inputGroup {
                    position: relative;
					width: 100%;
					&.quater {
						margin-left: 10px;
						@media only screen and (max-width: 767px) {
							margin-left: 0;
						}
					}
					&.half {
						width: 50%;
						@media only screen and (max-width: 767px) {
							width: 100%;
						}
					}
                    label {
                        padding: 6px 12px;
                        // width: calc(97% / 3);
                        margin-right: 0.5%;
                        margin-left: 0.5%;
						width: 100%;
                        text-align: left;
                        border: solid 1px #ccc;
                        border-radius: 5px;
                        cursor: pointer;
                        position: relative;
                        z-index: 2;
                        @include transition(.2s);
                        overflow: hidden;
                        @media only screen and (max-width: 767px) {
							width: 100%;
							margin-right: 0;margin-left: 0;
                        }
                    }

                    input {
                        width: 32px;
                        height: 32px;
                        order: 1;
                        z-index: 2;
                        position: absolute;
                        right: 30px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        visibility: hidden;
						&:hover~label {
							color: $gray5;
							border: solid 1px $gray1;
							background-color: $gray1;
							@include transition(.2s);
						}
                        &:checked~label {
							color: #fff;
							border: solid 1px $rgblue;
							background-color: $rgblue;
							@include transition(.2s);
						}
                    }
				}
				&.submit {
					@include flex;
					@include jcc;
					@include aic;
					.submitBtn {
						padding: 10px 50px;
						background-color: $rgblue;
						outline: none;
						border: none;
						color: #fff;
						border-radius: 5px;
						@media only screen and (max-width: 767px) {
							width: 100%;
						}
						&:hover {
							background-color: $blue;
						}
						&:focus,&:active {
							background-color: $gray5;
						}
					}
				}
			}
			.barSpace {
				height: 30px;
				@media only screen and (max-width: 767px) {
					height: 100px;
				}
			}
			.conclude {
				p {color: $gray5;}
			}
			.explain {
				margin-top: 50px;
				ul {
					margin: 0;padding: 0;
					list-style-type: none;
					li {
						color: $gray3;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	@keyframes charge {
		0% {
			@include translate(0%,0%);
		}
		100% {
			@include translate(2%,0%);
		}
	}
}

.footer {
	margin-top: 0;
}