/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import './_variable.scss';

html,
body {
    width: 100%;
    height: 100%;
	margin: 0;padding: 0;
    box-sizing: border-box;
    overflow-scrolling: touch;
	font-family: "Playfair Display","Noto Serif TC", "微軟正黑體";
	font-weight: 500;
    -webkit-overflow-scrolling: touch;
}

body {overflow-x: hidden;}

.headerCover {
	@include flex;
	@include jcc;
	@include aic;
	@include column;
	background-color: #fff;
	position: fixed;
	left: 0;top: 0;
	z-index: 100;
	width: 100%;height: 100%;
	.quote {
		font-size: 28px;
		color: $mainText;
		margin-bottom: 10px;
		.char {
			display: inline-block;
			letter-spacing: 2px;
			font-family: 'Moon Dance';
			opacity: 0;
		}
	}
	.loadingBar {
		position: relative;
		margin-top: 20px;
		width: 100vw;
		height: 1px;
		border-radius: 5px;
		background-color: rgba(#000,.1);
		overflow: hidden;
		.loadingValue {
			position: absolute;
			background-color: $mainText;
			width: 0;height: 3px;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1279px) {
		.crabLogo {
			width: 20vw;height: 20vw;
		}
		.progressBar {
			width: 40vw;
		}
	}
	@media only screen and (max-width: 767px) {
		.crabLogo {
			width: 30vw;height: 30vw;
		}
		.progressBar {
			width: 50vw;
		}
	}
}

.progressBar {
	position: fixed;
	bottom: 0;left: 0;
	width: 100%;
	height: 3px;
	background-color: rgba(#fff, .2);
	overflow: hidden;
	z-index: 50;
	.progressValue {
		position: absolute;
		left: 0;top: 50%;
		@include translate(0, -50%);
		width: 0%;
		height: 5px;
		background-color: $mainText;
	}
}

.banner {
	position: relative;
	width: 100%;
	@include flex;
	@include jcc;
	@include aic;
	background-color: #030303;
	.bannerInfo {
		width: 50%;
		.infoText {
			width: 80%;
			margin: auto;
			.infoList {
				margin-bottom: 20px;
				font-size: 1.2vw;
				color: $subText;
				white-space: nowrap;
			}
		}
	}
	.bannerPic {
		width: 50%;height: 100vh;
		background-image: url(../images/syun.png);
		-webkit-filter: grayscale(100%);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		// animation: backgroundMove 10s;
	}
	.bannerTitle {
		position: absolute;
		left: 50%;top: 50%;
		overflow: hidden;
		border-bottom: 1px solid #fff;
		@include translate(-50%, -50%);
		.titleText {
			font-size: 5vw;
			color: #fff;
			font-family: 'Playfair Display';
		}
	}
	.decorationText {
		position: absolute;
		left: 0;bottom: 0;
		color: $mainText;
		opacity: 0.1;
		font-size: 10vw;
		font-weight: bold;
		white-space: nowrap;
	}
}

.mainTitle {
	text-align: center;
	.title {
		h1 {
			display: inline-block;
			color: $mainText;
			font-weight: 900;
			text-align: center;
			padding: 7px 20px 10px;
			margin-bottom: 5px;
			margin-top: 5px;
			letter-spacing: 2px;
			@media only screen and (max-width: 767px) {
				font-size: 28px;
			}
		}
	}
}

.first-article {
	position: relative;
	background:linear-gradient($dark,$gray);
	padding-top: 50px;
	padding-bottom: 70px;
	width: 100%;
	overflow: hidden;
	.container-fluid {
		width: 60%;
		@media only screen and (max-width: 1279px) {
			width: 80%;
		}
		@media only screen and (max-width: 767px) {
			width: 90%;
		}
		.articleSection {
			@include flex;
			@include jcc;
			@include aic;
			.articleText {
				margin: 0 3vw;
				text-align: center;
				@media only screen and (max-width: 767px) {
					margin-top: 50px;
				}
				p {
					font-weight: bold;
					text-align: center;
					font-size: 20px;
					color: $subText;
					margin-top: 20px;
					.runNum {
						display: inline-block;
						padding: 2px 10px;
						font-size: 32px;
						color: $green;
						font-weight: 900;
						small {
							font-size: 18px;
							font-weight: bold;
							margin-left: 2px;
						}
						@media only screen and (max-width: 767px) {
							display: block;
							font-size: 10vw;
							line-height: 1;
						}
					}
					@media only screen and (max-width: 767px) {
						font-size: 18px;
					}
				}
				h4 {
					text-align: center;
					.dataProp {
						font-weight: bold;
						font-size: 84px;
						font-weight: 900;
						color: #fff;
						line-height: 1;
						@media only screen and (max-width: 767px) {
							font-size: 10vw;
						}
					}
					.ton {
						font-weight: bold;
						margin-left: 10px;
						font-size: 24px;
						color: #fff;
					}
				}
			}
		}
		.contactBox {
			margin-top: 50px;
			@include flex;
			@include jcc;
			@include aic;
			@include column;
			.plane {
				@include background(5vw, 4vw, url(../images/paperPlain.svg), contain);
				@media only screen and (max-width: 767px) {
					width: 15vw;height: 12vw;
				}
			}
			h3 {
				color: $jungle;
				font-weight: bold;
			}
			.buttonArea {
				@include flex;
				@include jcc;
				@include aic;
				@include row;
				.shareBtn {
					@include flex;
					@include jcc;
					@include aic;
					margin: 20px;
					width: 7vw;height: 7vw;
					border-radius: 50%;
					border: 2px solid $subText;
					text-decoration: none;
					@include transition(.1s);
					@media only screen and (max-width: 767px) {
						margin: 10px;
					}
					i {
						font-size: 3vw;
						color: $mainText;
						@include transition(.2s);
						@media only screen and (max-width: 767px) {
							font-size: 8vw;
						}
					}
					&:hover {
						i {
							color: darken($mainText,5%);
							transform: scale(0.9);
						}
					}
					&:active {
						transform: scale(0.8);
					}
				}
			}
		}
		.workGroup {
			margin-top: 20px;
			overflow: hidden;
			@include flex;
			@include jcc;
			@include aic;
			@media only screen and (max-width: 767px) {
				margin-top: 50px;
			}
			.workImg {
				position: relative;
				background-image: url(../images/camego21.jpeg);
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 60vw;height: 30vw;
				@media only screen and (max-width: 767px) {
					width: 80vw;
					height: 40vw;
				}
			}
		}
	}
}

.grow-story {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	.scene {
		width: 100%;
		height: 100vh;
		&.seaScene {
			position: relative;
			background-color: $gray;
			border: none;
			overflow: hidden;
			.sceneCover {
				position: absolute;
				left: 0;top: 0;
				width: 100%;height: 100%;
				background-color: #7a6d7c;
			}
			.textContent {
				position: relative;
				margin-top: 7vh;
				@include flex;
				@include jcc;
				@include aic;
				@include column;
				z-index: 50;
				@media screen and (orientation: landscape) and (max-width: 1023px) {
					margin-top: 15px;
				}
				@media screen and (orientation: landscape) and (max-width: 767px) {
					margin-top: 15px;
				}
				.yearBar {
					.numberBar {
						@include flex;
						@include jcc;
						@include aic;
						padding: 7px 0;
						border-radius: 50px;
						border: 1px solid #fff;
						margin-top: 30px;
						@media screen and (orientation: landscape) and (max-width: 767px) {
							margin-top: 15px;
						}
						.number {
							font-weight: bold;
							font-size: 18px;
							margin: 0 10px;
							a {
								position: relative;
								display: inline-block;
								padding: 4px 15px 7px;
								border-radius: 50px;
								line-height: 1;
								text-decoration: none;
								color: $subText;
								background-color: #fff;
								font-size: 18px;
								letter-spacing: 1px;
								cursor: initial;
								@include shadow(2px,2px,5px,.2);
								@include transition(.2s);
								@media only screen and (max-width: 1279px) {
									letter-spacing: -2px;
								}
								@media only screen and (max-width: 767px) {
									font-size: 14px;
								}
								&:hover {
									color: #fff;
									background-color: $mainText;
								}
							}
						}
					}
				}
				.textArea {
					position: relative;
					width: 100vw;
					margin-top: 7vh;
					@include flex;
					z-index: 20;
					@media screen and (orientation: landscape) and (max-width: 1023px) {
						margin-top: 0;
					}
					@media screen and (orientation: landscape) and (max-width: 767px) {
						margin-top: 0;
					}
					.textContentArticle {
						width: 100vw;
						min-width: 100vw;
						padding: 0 15vw;
						position: relative;
						font-weight: bold;
						text-align: center;
						font-size: 20px;
						letter-spacing: 1px;
						line-height: 1.5;
						color: $subText;
						margin: 0;
						z-index: 20;
						@media only screen and (min-width: 768px) and (max-width: 1279px) {
							margin-top: 50px;
						}
						@media only screen and (max-width: 767px) {
							font-size: 16px;
							padding: 0 30px;
							margin: auto;
							margin-top: 20px;
							line-height: 2;
							br {
								display: none;
							}
						}
						@media screen and (orientation: landscape) and (max-width: 1023px) {
							margin-top: 30px;
							font-size: 16px;
							padding-left: 7vw;
							padding-right: 7vw;
							br {display: none;}
						}
					}
				}
			}
			.earth {
				position: absolute;
				width: 50vw;height: 50vw;
				left: 50%;top: 50%;
				background-image: url(../images/earth.svg);
				background-size: contain;
				background-position: center center;
				opacity: 0.5;
				@include translate(-50%, 0%);
				@media only screen and (max-width: 1279px) {
					width: 60vw;height: 60vw;
				}
				@media only screen and (max-width: 767px) {
					width: 70vw;height: 70vw;
				}
			}
			.world {
				position: absolute;
				width: 50vw;height: 30vw;
				left: 50%;top: 50%;
				background-image: url(../images/world-map.svg);
				background-size: contain;
				background-position: center center;
				opacity: 0.5;
				@include translate(-50%, 0%);
				@media only screen and (max-width: 1279px) {
					width: 36vw;height: 18vw;
				}
				@media only screen and (max-width: 767px) {
					width: 48vw;height: 24vw;
				}

				.route {
					position: absolute;
					width: 50vw;height: 30vw;
					left: 50%;top: 50%;
					background-image: url(../images/world-route.svg);
					background-size: contain;
					background-position: center center;
					@include translate(-50%, -50%);
					@media only screen and (max-width: 1279px) {
						width: 36vw;height: 18vw;
					}
					@media only screen and (max-width: 767px) {
						width: 48vw;height: 24vw;
					}
				}
			}
			.mapApp {
				position: absolute;
				width: 30vw;height: 60vw;
				left: 50%;top: 50%;
				background-image: url(../images/app-map.png);
				background-size: contain;
				background-position: center center;
				z-index: 10;
				@include translate(-50%, -10%);
				@media only screen and (max-width: 1279px) {
					width: 36vw;height: 72vw;
				}
				@media only screen and (max-width: 767px) {
					width: 48vw;height: 96vw;
				}
			}
			.mapText {
				position: absolute;
				left: 50%;top: 50%;
				@include translate(-50%, 0%);
				display: inline-block;
				font-weight: bold;
				color: $mainText;
				font-size: 3vw;
				z-index: 5;
			}
		}
	}
}

.contactUs {
	@include flex;
	@include jcc;
	@include aic;
	@include column;
	background-color: $gray;
	padding-top: 50px;
	padding-bottom: 50px;
	h1 {
		font-weight: bold;
		color: $subText;
		@media only screen and (max-width: 767px) {
			font-size: 28px;
		}
	}
}

.footer {
	width: 100%;
	overflow: hidden;
	background-color: $dark;
	.container-fluid {
		.copyright {
			padding: 20px 0;
			text-align: center;
			small {color: #fff;}
		}
	}
}
