/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import './_variable.scss';

html,
body {
    width: 100%;
    height: 100%;
	margin: 0;padding: 0;
    box-sizing: border-box;
    overflow-scrolling: touch;
	font-family: "Playfair Display","Noto Serif TC", "微軟正黑體";
	font-weight: 500;
    -webkit-overflow-scrolling: touch;
}

body {overflow-x: hidden;}

.headerCover {
	@include flex;
	@include jcc;
	@include aic;
	@include column;
	background-color: #fff;
	position: fixed;
	left: 0;top: 0;
	z-index: 100;
	width: 100%;height: 100%;
	.quote {
		font-size: 28px;
		color: $mainText;
		margin-bottom: 10px;
		.char {
			display: inline-block;
			letter-spacing: 2px;
			font-family: 'Moon Dance';
			opacity: 0;
		}
	}
	.loadingBar {
		position: relative;
		margin-top: 20px;
		width: 100vw;
		height: 1px;
		border-radius: 5px;
		background-color: rgba(#000,.1);
		overflow: hidden;
		.loadingValue {
			position: absolute;
			background-color: $mainText;
			width: 0;height: 3px;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1279px) {
		.crabLogo {
			width: 20vw;height: 20vw;
		}
		.progressBar {
			width: 40vw;
		}
	}
	@media only screen and (max-width: 767px) {
		.crabLogo {
			width: 30vw;height: 30vw;
		}
		.progressBar {
			width: 50vw;
		}
	}
}

.progressBar {
	position: fixed;
	bottom: 0;left: 0;
	width: 100%;
	height: 3px;
	background-color: rgba(#fff, .2);
	overflow: hidden;
	z-index: 50;
	.progressValue {
		position: absolute;
		left: 0;top: 50%;
		@include translate(0, -50%);
		width: 0%;
		height: 5px;
		background-color: $mainText;
	}
}

.banner {
	position: relative;
	width: 100%;
	@include flex;
	@include jcc;
	@include aic;
	background-color: #030303;
	.bannerInfo {
		width: 50%;
		.infoText {
			width: 80%;
			margin: auto;
			.infoList {
				margin-bottom: 20px;
				font-size: 1.2vw;
				color: $subText;
				white-space: nowrap;
			}
		}
	}
	.bannerPic {
		width: 50%;height: 100vh;
		background-image: url(../images/syun.png);
		-webkit-filter: grayscale(100%);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		// animation: backgroundMove 10s;
	}
	.bannerTitle {
		position: absolute;
		left: 50%;top: 50%;
		overflow: hidden;
		border-bottom: 1px solid #fff;
		@include translate(-50%, -50%);
		.titleText {
			font-size: 5vw;
			color: #fff;
			font-family: 'Playfair Display';
		}
	}
	.decorationText {
		position: absolute;
		left: 0;bottom: 0;
		color: $mainText;
		opacity: 0.1;
		font-size: 10vw;
		font-weight: bold;
		white-space: nowrap;
	}
}

.mainTitle {
	text-align: center;
	.title {
		h1 {
			display: inline-block;
			color: $mainText;
			font-weight: 900;
			text-align: center;
			padding: 7px 20px 10px;
			margin-bottom: 5px;
			margin-top: 5px;
			letter-spacing: 2px;
			@media only screen and (max-width: 767px) {
				font-size: 28px;
			}
		}
	}
}

.first-article {
	position: relative;
	background:linear-gradient($dark,$gray);
	padding-top: 50px;
	padding-bottom: 70px;
	width: 100%;
	overflow: hidden;
	.container-fluid {
		width: 60%;
		@media only screen and (max-width: 1279px) {
			width: 80%;
		}
		@media only screen and (max-width: 767px) {
			width: 90%;
		}
		.articleSection {
			@include flex;
			@include jcc;
			@include aic;
			.articleText {
				margin: 0 3vw;
				text-align: center;
				@media only screen and (max-width: 767px) {
					margin-top: 50px;
				}
				p {
					font-weight: bold;
					text-align: center;
					font-size: 20px;
					color: $subText;
					margin-top: 20px;
					.runNum {
						display: inline-block;
						padding: 2px 10px;
						font-size: 32px;
						color: $green;
						font-weight: 900;
						small {
							font-size: 18px;
							font-weight: bold;
							margin-left: 2px;
						}
						@media only screen and (max-width: 767px) {
							display: block;
							font-size: 10vw;
							line-height: 1;
						}
					}
					@media only screen and (max-width: 1279px) {
						width: 60%;
						margin: auto;
					}
					@media only screen and (max-width: 767px) {
						width: 100%;
						font-size: 18px;
					}
				}
				h4 {
					text-align: center;
					.dataProp {
						font-weight: bold;
						font-size: 84px;
						font-weight: 900;
						color: #fff;
						line-height: 1;
						@media only screen and (max-width: 767px) {
							font-size: 10vw;
						}
					}
					.ton {
						font-weight: bold;
						margin-left: 10px;
						font-size: 24px;
						color: #fff;
					}
				}
			}
		}
		.riceGroup {
			margin-top: 20px;
			overflow: hidden;
			@include flex;
			@include jcc;
			@include aic;
			@media only screen and (max-width: 767px) {
				margin-top: 50px;
			}
			.riceGroupImg {
				position: relative;
				background-image: url(../images/paddy.svg);
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 44vw;height: 20vw;
				@media only screen and (max-width: 767px) {
					width: 66vw;
					height: 30vw;
				}
			}
		}
	}
}

.bad-weather {
	position: relative;
	background-color: $light-lake;
	height: 100vh;
	padding-top: 100px;
	width: 100%;
	overflow: hidden;
	@media only screen and (max-width: 767px) {
		padding-top: 50px;
	}
	@media screen and (orientation: landscape) and (max-width: 1023px) {
		padding-top: 10px;
	}
	p {
		font-weight: bold;
		text-align: center;
		font-size: 24px;
		line-height: 1.5;
		letter-spacing: 1px;
		color: #fff;
		margin-top: 100px;
		@media only screen and (max-width: 767px) {
			width: 90%;
			margin: auto;
			margin-top: 15vh;
			font-size: 18px;
		}
		@media screen and (orientation: landscape) and (max-width: 1023px) {
			margin-top: 0;
		}
		@media screen and (orientation: landscape) and (max-width: 767px) {
			margin-top: 0;
		}
		.runNum {
			display: inline-block;
			padding: 3px 7px 7px;
			margin-left: 5px;
			font-size: 36px;
			color: #fff;
			line-height: 1;
			background-color: $green;
			font-weight: 900;
			small {
				font-weight: bold;
				margin-left: 2px;
			}
			@media only screen and (max-width: 767px) {
				// display: block;
				font-size: 8vw;
				line-height: 1;
				margin-top: 20px;
			}
			@media screen and (orientation: landscape) and (max-width: 767px) {
				font-size: 4vw;
				margin-top: 10px;
			}
		}
	}
	h5 {
		position: absolute;
		left: 50%;bottom: 10px;
		@include translate(-50%,0);
		color: #fff;
	}
	br.brLine {
		@media only screen and (max-width: 767px) {
			display: none;
		}
	}
	.darkGrass {
		position: absolute;
		left: 0;bottom: 0;
		@include background(100vw, 13vw, url(../images/darkGrass.svg), cover);
		@media only screen and (min-width: 768px) and (max-width: 1279px) {
			width: 100%;
			height: 26vw;
		}
		@media only screen and (max-width: 767px) {
			width: 100%;
			height: 39vw;
			bottom: -5px;
		}
		@media screen and (orientation: landscape) and (max-width: 1023px) {
			height: 13vw;
		}
		@media screen and (orientation: landscape) and (max-width: 767px) {
			height: 13vw;
		}
	}
	.flash1 {
		position: absolute;
		z-index: 1;
		left: 0%;top: 0%;
		@include background(34vw, 20vw, url(../images/flash1.svg), contain);
		@media only screen and (max-width: 767px) {
			width: 51vw;height: 30vw;
		}
		@media screen and (orientation: landscape) and (max-width: 767px) {
			width: 34vw;height: 20vw;
			opacity: 0.3;
		}
	}
	.flash2 {
		position: absolute;
		z-index: 1;
		right: 0%;top: 0%;
		@include background(34vw, 20vw, url(../images/flash2.svg), contain);
		@media only screen and (max-width: 767px) {
			width: 51vw;height: 30vw;
		}
		@media screen and (orientation: landscape) and (max-width: 767px) {
			width: 34vw;height: 20vw;
			opacity: 0.3;
		}
	}
	.cloud-day-1 {
		position: absolute;
		z-index: -1;
		right: 0%;top: 0%;
		@include background(33vw, 7.5vw, url(../images/purpleCloud1.svg), contain);
		@media only screen and (max-width: 767px) {
			width: 66vw;
			height: 15vw;
		}
	}
	.cloud-day-2 {
		position: absolute;
		z-index: -1;
		left: 50%;top: 50%;
		@include translate(-50%,-50%);
		@include background(100vw, 42vw, url(../images/purpleCloud2.svg), contain);
		@media only screen and (max-width: 767px) {
			width: 100vw;
			height: 42vw;
		}
	}
	.sun {
		position: absolute;
		left: 50%;top: 70%;
		z-index: -1;
		@include translate(-50%,-50%);
		@include background(35vw, 28vw, url(../images/deadGrass.svg), contain);
		@media only screen and (max-width: 1279px) {
			top: 70%;
			width: 70vw;
			height: 56vw;
		}
		@media only screen and (max-width: 767px) {
			top: 70%;
			width: 70vw;
			height: 56vw;
		}
		@media screen and (orientation: landscape) and (max-width: 1023px) {
			width: 35vw;height: 28vw;
		}
		@media screen and (orientation: landscape) and (max-width: 767px) {
			width: 35vw;height: 28vw;
		}
	}
}

.grow-story {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	.scene {
		width: 100%;
		height: 100vh;
		&.seaScene {
			position: relative;
			background-color: $gray;
			border: none;
			overflow: hidden;
			.sceneCover {
				position: absolute;
				left: 0;top: 0;
				width: 100%;height: 100%;
				background-color: #7a6d7c;
			}
			.textContent {
				position: relative;
				margin-top: 7vh;
				@include flex;
				@include jcc;
				@include aic;
				@include column;
				z-index: 50;
				@media screen and (orientation: landscape) and (max-width: 1023px) {
					margin-top: 15px;
				}
				@media screen and (orientation: landscape) and (max-width: 767px) {
					margin-top: 15px;
				}
				.yearBar {
					@media only screen and (max-width: 1279px) {
						width: 80%;
					}
					@media only screen and (max-width: 767px) {
						width: 90%;
					}
					.numberBar {
						@include flex;
						@include jcc;
						@include aic;
						padding: 7px 0;
						border-radius: 50px;
						border: 1px solid #fff;
						margin-top: 30px;
						@media screen and (orientation: landscape) and (max-width: 767px) {
							margin-top: 15px;
						}
						.number {
							font-weight: bold;
							font-size: 18px;
							margin: 0 10px;
							a {
								position: relative;
								display: inline-block;
								padding: 4px 15px 7px;
								border-radius: 50px;
								line-height: 1;
								text-decoration: none;
								color: $subText;
								background-color: #fff;
								font-size: 18px;
								letter-spacing: 1px;
								cursor: initial;
								@include shadow(2px,2px,5px,.2);
								@include transition(.2s);
								@media only screen and (max-width: 1279px) {
									letter-spacing: -2px;
								}
								@media only screen and (max-width: 767px) {
									font-size: 14px;
								}
								&:hover {
									color: #fff;
									background-color: $mainText;
								}
							}
						}
					}
				}
				.textArea {
					position: relative;
					width: 100vw;
					margin-top: 7vh;
					@include flex;
					z-index: 20;
					@media screen and (orientation: landscape) and (max-width: 1023px) {
						margin-top: 0;
					}
					@media screen and (orientation: landscape) and (max-width: 767px) {
						margin-top: 0;
					}
					.textContentArticle {
						width: 100vw;
						min-width: 100vw;
						position: relative;
						font-weight: bold;
						text-align: center;
						font-size: 20px;
						letter-spacing: 1px;
						line-height: 1.5;
						color: $subText;
						margin: 0;
						z-index: 20;
						.noticeText {
							background-color: $red;
							color: #fff;
							white-space: nowrap;
							padding: 3px 10px;
							border-radius: 5px;
						}
						@media only screen and (min-width: 768px) and (max-width: 1279px) {
							margin-top: 100px;
						}
						@media only screen and (max-width: 767px) {
							font-size: 16px;
							padding: 0 30px;
							margin: auto;
							margin-top: 20px;
							line-height: 2;
							br {
								display: none;
							}
						}
						@media screen and (orientation: landscape) and (max-width: 1023px) {
							margin-top: 30px;
							font-size: 16px;
							padding-left: 7vw;
							padding-right: 7vw;
							br {display: none;}
						}
					}
				}
			}
			.grassStep {
				position: absolute;
				left: 50%;bottom: 17%;
				@include translate(-50%,0%);
				z-index: 50;
				@media screen and (orientation: landscape) and (max-width: 1023px) {
					bottom: 8%;
				}
				@media screen and (orientation: landscape) and (max-width: 767px) {
					bottom: 17%;
				}
				&.grassStep1 {
					@include background(24vw, 15vw, url(../images/grassStep1.svg), contain);
					@media only screen and (max-width: 1279px) {
						width: 36vw;height: 22.5vw;
					}
					@media only screen and (max-width: 767px) {
						width: 48vw;height: 30vw;
					}
					@media screen and (orientation: landscape) and (max-width: 1023px) {
						width: 24vw;height: 15vw;
					}
					@media screen and (orientation: landscape) and (max-width: 767px) {
						width: 24vw;height: 15vw;
					}
				}
				&.grassStep2 {
					@include background(25vw, 20vw, url(../images/grassStep2.svg), contain);
					@media only screen and (max-width: 1279px) {
						width: 37.5vw;height: 30vw;
					}
					@media only screen and (max-width: 767px) {
						width: 50vw;height: 40vw;
					}
					@media screen and (orientation: landscape) and (max-width: 1023px) {
						width: 25vw;height: 20vw;
					}
					@media screen and (orientation: landscape) and (max-width: 767px) {
						width: 25vw;height: 20vw;
					}
					.sessionBox {
						width: 4vw;height: 4vw;
						@media only screen and (max-width: 1279px) {
							width: 6vw;height: 6vw;
						}
						@media only screen and (max-width: 767px) {
							width: 10vw;height: 10vw;
						}
						@media screen and (orientation: landscape) and (max-width: 1023px) {
							width: 6vw;height: 6vw;
						}
						@media screen and (orientation: landscape) and (max-width: 767px) {
							width: 6vw;height: 6vw;
						}
						&.weed1Box {
							left: 10%;bottom: 5%;
							.weed1 {
								position: absolute;
								bottom: 0;right: -50%;
								@include background(6.5vw, 10vw, url(../images/weed1.svg), contain);
								@media only screen and (max-width: 1279px) {
									width: 9.75vw;height: 15vw;
								}
								@media only screen and (max-width: 767px) {
									width: 13vw;height: 20vw;
								}
								@media screen and (orientation: landscape) and (max-width: 1023px) {
									width: 9.75vw;height: 15vw;
								}
								@media screen and (orientation: landscape) and (max-width: 767px) {
									width: 9.75vw;height: 15vw;
								}
							}
						}
						&.weed2Box {
							left: 45%;bottom: 20%;
							.weed2 {
								position: absolute;
								bottom: 0;right: -50%;
								@include background(7vw, 8vw, url(../images/weed2.svg), contain);
								@media only screen and (max-width: 1279px) {
									width: 10.5vw;height: 12vw;
								}
								@media only screen and (max-width: 767px) {
									width: 14vw;height: 16vw;
								}
								@media screen and (orientation: landscape) and (max-width: 1023px) {
									width: 10.5vw;height: 12vw;
								}
								@media screen and (orientation: landscape) and (max-width: 767px) {
									width: 10.5vw;height: 12vw;
								}
							}
						}
						&.weed3Box {
							right: 5%;;bottom: 0;
							.weed3 {
								position: absolute;
								bottom: 0;left: -50%;
								@include background(6vw, 8vw, url(../images/weed3.svg), contain);
								@media only screen and (max-width: 1279px) {
									width: 12vw;height: 16vw;
								}
								@media only screen and (max-width: 767px) {
									width: 18vw;height: 24vw;
								}
								@media screen and (orientation: landscape) and (max-width: 1023px) {
									width: 12vw;height: 16vw;
								}
								@media screen and (orientation: landscape) and (max-width: 767px) {
									width: 12vw;height: 16vw;
								}
							}
						}
					}
				}
				&.grassStep3 {
					@include background(24vw, 22vw, url(../images/grassStep3.svg), contain);
					@media only screen and (max-width: 1279px) {
						width: 36vw;height: 33vw;
					}
					@media only screen and (max-width: 767px) {
						width: 48vw;height: 44vw;
					}
					@media screen and (orientation: landscape) and (max-width: 1023px) {
						width: 24vw;height: 22vw;
					}
					@media screen and (orientation: landscape) and (max-width: 767px) {
						width: 24vw;height: 22vw;
					}
				}
			}
			.ground {
				position: absolute;
				left: 0;bottom: 0;
				width: 100vw;height: 10vw;
				background-color: #7c4811;
				z-index: 30;
				@media only screen and (max-width: 1279px) {
					height: 25vw;
				}
				@media only screen and (max-width: 767px) {
					height: 30vw;
				}
				@media screen and (orientation: landscape) and (max-width: 1023px) {
					height: 10vw;
				}
				@media screen and (orientation: landscape) and (max-width: 767px) {
					height: 10vw;
				}
				.groundMud {
					position: absolute;
					left: 50%;top: 50%;
					@include translate(-50%,-90%);
					@include background(60vw, 10vw, url(../images/groundMud.svg), cover);
					@media only screen and (max-width: 1279px) {
						width: 90vw;height: 15vw;
						@include translate(-50%,-110%);
					}
					@media only screen and (max-width: 767px) {
						width: 120vw;height: 20vw;
						@include translate(-50%,-110%);
					}
					@media screen and (orientation: landscape) and (max-width: 1023px) {
						width: 60vw;height: 10vw;
						@include translate(-50%,-70%);
					}
					@media screen and (orientation: landscape) and (max-width: 767px) {
						width: 60vw;height: 10vw;
						@include translate(-50%,-70%);
					}
				}
			}
		}
	}
}

.equipment {
	position: relative;
	padding-top: 150px;
	padding-bottom: 50px;
	width: 100%;
	overflow: hidden;
	background-color: $mainText;
	@media only screen and (max-width: 767px) {
		padding-top: 70px;
		padding-bottom: 0;
	}
	.container-fluid {
		width: 60%;
		text-align: center;
		@media only screen and (max-width: 1279px) {
			width: 80%;
		}
		@media only screen and (max-width: 767px) {
			width: 90%;
		}
		.introSec {
			margin-top: 50px;
            .introBar {
                @include flex;
                @include jcc;
				margin-bottom: 50px;
                @media only screen and (max-width: 767px) {
                    @include aic;
					@include column;
                }

                .introPic {
					.pic {
						position: relative;
						@media only screen and (max-width: 767px) {
							width: 30vw;height: 60vw;
						}
						.picBefore {
							width: 20vw;
							height: 40vw;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center bottom;
							z-index: 1;
							@media only screen and (max-width: 767px) {
								width: 30vw;height: 60vw;
								position: absolute;
								left: 50%;top: 50%;
								@include translate(-50%,-50%);
							}
							@media screen and (orientation: landscape) and (max-width: 767px) {
								width: 20vw;height: 40vw;
							}
						} 
						.picAfter {
							position: absolute;
							left: 50%;top: 50%;
							@include translate(-50%,-50%);
							width: 20vw;
							height: 40vw;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center bottom;
							opacity: 0;
							z-index: 1;
							@media only screen and (max-width: 767px) {
								width: 30vw;height: 60vw;
							}
							@media screen and (orientation: landscape) and (max-width: 767px) {
								width: 20vw;height: 40vw;
							}
						}
						.backLight {
							position: absolute;
							left: 50%;top: 50%;
							@include translate(-50%,-50%);
							@include background(50vw, 40vw, url(../images/backLight.svg), contain);
							z-index: 0;
							@media only screen and (max-width: 767px) {
								width: 75vw;height: 60vw;
							}
						}

						@media only screen and (max-width: 767px) {
							width: 60vw;
							height: 48vw;
							background-position: left bottom;
						}
					}
                }

                .introText {
					max-width: 420px;
					margin-left: 4vw;
					text-align: left;
					overflow: hidden;
					@media only screen and (max-width: 767px) {
						margin-left: 0vw;
						max-width: none;
						width: 100%;
					}
                    h3 {
                        font-size: 24px;
                        font-weight: bold;
						letter-spacing: 1px;
						line-height: 1.5;
                        color: $green;
						display: inline-block;
                        @media only screen and (max-width: 767px) {
                            font-size: 20px;
                            line-height: 28px;
							text-align: center;
							display: block;
							margin-top: 50px;
                        }
                    }
					.textArea {
						position: relative;
						width: 100%;
						@include flex;
						z-index: 20;
						@media screen and (orientation: landscape) and (max-width: 1023px) {
							margin-top: 0;
						}
						@media screen and (orientation: landscape) and (max-width: 767px) {
							margin-top: 0;
						}
						.textContentWord {
							width: 100%;
							min-width: 100%;
							position: relative;
							font-weight: bold;
							font-size: 18px;
							letter-spacing: 1px;
							line-height: 1.5;
							color: $jungle;
							margin: 0;
							z-index: 20;
							@media only screen and (min-width: 768px) and (max-width: 1279px) {
								margin-top: 100px;
							}
							@media only screen and (max-width: 767px) {
								font-size: 16px;
								padding: 0 30px;
								margin: auto;
								margin-top: 20px;
								line-height: 2;
								br {
									display: none;
								}
							}
							@media screen and (orientation: landscape) and (max-width: 1023px) {
								margin-top: 30px;
								font-size: 16px;
								padding-left: 7vw;
								padding-right: 7vw;
								br {display: none;}
							}
						}
					}
					// p {
					// 	font-size: 18px;
					// 	color: $jungle;
					// 	letter-spacing: 1px;
					// 	line-height: 1.5;
					// 	br {
					// 		@media only screen and (max-width: 767px) {
					// 			display: none;
					// 		}
					// 	}
					// }
					.introDetail {
						position: relative;
						margin-top: 50px;
						padding: 20px;
						width: 25vw;height: 20vw;
						@include flex;
						@include jcc;
						@include aic;
						z-index: 1;
						@media only screen and (max-width: 767px) {
							width: 75vw;height: 60vw;
						}
						.circle {
							position: absolute;
							left: 0;top: 0;
							position: relative;
							background-color: #fff;
							border: 10px solid $green;
							border-radius: 50%;
							width: 20vw;height: 20vw;
							z-index: 1;
							@media only screen and (max-width: 767px) {
								width: 60vw;height: 60vw;
							}
						}
						.before {
							position: absolute;
							content: '';
							left: 10%;top: 0%;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 10vw 10vw 0 0;
							border-color: $green transparent transparent transparent;
							z-index: 0;
							@media only screen and (max-width: 767px) {
								border-width: 30vw 30vw 0 0;
							}
						}
						.protectSet {
							position: absolute;
							@include background(10vw, 10vw, url(../images/protectSet.png), contain);
							z-index: 2;
							@media only screen and (max-width: 767px) {
								width: 30vw;height: 30vw;
							}
						}
					}
					.productDetail {
						margin-top: 20px;
						margin-bottom: 20px;
						.product {
							@include background(20vw, 20vw, url(../images/protection.png), contain);
							@media only screen and (max-width: 767px) {
								width: 100%;height: 50vw;
							}
						}
					}
                }
            }
        }
	}
	&:before {
		position: absolute;
		content: '';
		left: 0;top: 0;
		@include translate(0,-2%);
		@include background(100%, 5vw, url(../images/green-curtain.svg), contain);
	}
}

.story-end {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	.scene {
		width: 100%;
		height: 100vh;
		position: relative;
		background-color: $mainText;
		border: none;
		padding-top: 20px;
		overflow: hidden;
		h1 {
			position: relative;
			font-weight: bold;
			text-align: center;
			color: $green;
			z-index: 40;
			@media only screen and (min-width: 768px) and (max-width: 1279px) {
				font-size: 48px;
				line-height: 1.5;
				margin: auto;
			}
			@media only screen and (max-width: 767px) {
				font-size: 36px;
				line-height: 1.5;
				margin: auto;
				br {
					display: none;
				}
			}
			br {
				display: none;
				@media only screen and (max-width: 767px) {
					display: block;
				}
				@media screen and (orientation: landscape) and (max-width: 767px) {
					display: none;
				}
			}
		}
		.endGrass {
			position: absolute;
			left: 50%;bottom: 0;
			@include translate(-50%, 0%);
			@include background(100vw, 35vw, url(../images/endGrass.svg), cover);
			background-position: center top;
			z-index: 40;
			@media only screen and (min-width: 768px) and (max-width: 1279px) {
			}
			@media only screen and (max-width: 767px) {
				width: 100%;
				height: 40vw;
			}
			@media screen and (orientation: landscape) and (max-width: 767px) {
				width: 100vw;height: 40vw;
			}
		}
		.sunlight {
			position: absolute;
			right: 20%;top: 20%;
			border-radius: 50%;
			@include translate(-50%, -50%);
			width: 7vw;
			height: 7vw;
			background:linear-gradient(#ffffe0,#fffdff);
			z-index: 1;
			@media only screen and (max-width: 1279px) {
				width: 14vw;height: 14vw;
				top: 10%;
			}
			&:before {
				position: absolute;
				content: '';
				border-radius: 50%;
				top: 50%;left: 50%;
				@include translate(-50%,-50%);
				width: 9vw;
				height: 9vw;
				background:linear-gradient(#ffffff,#d2ffad);
				opacity: 0.2;
				@media only screen and (max-width: 1279px) {
					width: 18vw;height: 18vw;
				}
			}
			&:after {
				position: absolute;
				content: '';
				border-radius: 50%;
				top: 50%;left: 50%;
				@include translate(-50%,-50%);
				width: 11vw;
				height: 11vw;
				background:linear-gradient(#ffffff,#d2ffad);
				opacity: 0.2;
				@media only screen and (max-width: 1279px) {
					width: 22vw;height: 22vw;
				}
			}
		}
	}
}

.contactUs {
	@include flex;
	@include jcc;
	@include aic;
	@include column;
	background-color: $mainText;
	padding-bottom: 50px;
	.logo {
		@include background(10vw, 5vw, url(../images/greenLogo.svg), contain);
		@media only screen and (max-width: 767px) {
			width: 30vw;height: 15vw;
		}
	}
	.award {
		@include background(20vw, 30vw, url(../images/award.svg), contain);
		@media only screen and (max-width: 767px) {
			width: 40vw;height: 60vw;
		}
	}
	h1 {
		font-weight: bold;
		color: $green;
		@media only screen and (max-width: 767px) {
			font-size: 28px;
		}
	}
	.contactBox {
		margin-top: 50px;
		@include flex;
		@include jcc;
		@include aic;
		@include column;
		.plane {
			@include background(5vw, 4vw, url(../images/paperPlain.svg), contain);
			@media only screen and (max-width: 767px) {
				width: 15vw;height: 12vw;
			}
		}
		h3 {
			color: $jungle;
			font-weight: bold;
		}
		.buttonArea {
			@include flex;
			@include jcc;
			@include aic;
			@include row;
			.shareBtn {
				display: inline-block;
				margin: 20px;
				@include transition(.1s);
				@media only screen and (max-width: 767px) {
					margin: 10px;
				}
				i {
					font-size: 4vw;
					color: $jungle;
					@include transition(.2s);
					@media only screen and (max-width: 767px) {
						font-size: 8vw;
					}
				}
				&:hover {
					i {
						color: darken($jungle,5%);
						transform: scale(0.9);
					}
				}
				&:active {
					transform: scale(0.8);
				}
			}
		}
	}
}

.footer {
	width: 100%;
	overflow: hidden;
	background-color: $green;
	.container-fluid {
		.copyright {
			padding: 20px 0;
			text-align: center;
			small {color: #fff;}
		}
	}
}
