/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import './variable';

// agenda
.textBox {
	padding-top: 50px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
	.container-fluid {
		width: 60%;
		@media only screen and (max-width: 1279px) {
			width: 80%;
		}
		@media only screen and (max-width: 767px) {
			width: 90%;
		}
		.title {
			text-align: center;
			margin-bottom: 30px;
			color: $blue;
			h2 {
				font-weight: bold;
				@media only screen and (max-width: 767px) {
					font-size: 28px;
				}
			}
		}
		.contextArea {
			h2 {
				color: $blue;
				margin-top: 0;
				font-weight: bold;
				letter-spacing: 1px;
			}
			h3 {
				margin-top: 0;
				color: $blue;
				font-weight: bold;
			}
			p {
				margin-top: 30px;
			}
		}
		.article {
			position: relative;
			margin-top: 50px;
			padding-top: 30px;
			.bdline{
				position: absolute;
				left: 0;top: 0;
				width: 100%;height: 1px;
				background-color: $gray2;
			}
		}
	}
}

// goBack
.goBack {
	width: 100%;
	background-color: #f5f5f5;
	color: $blue;
	.backBtn {
		width: 60%;
		margin: auto;
		text-align: center;
		a {
			.btn {
				padding: 10px 20px;
				margin: 10px;
				margin-top: 30px;
				margin-bottom: 50px;
				border: solid 1px $blue;
				color: $blue;
				@include transition(.2s);
			}
			&:hover,&:focus {
				text-decoration: none;
				.btn {
					background-color: $blue;
					color: #fff;
				}
			}
		}
	}
}

.footer {
	margin-top: 0;
}