/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;700;900&display=swap");
@-webkit-keyframes bgColorAn {
  0% {
    background-color: #c9b1b1;
  }
  40% {
    background-color: #c9b1b1;
  }
  60% {
    background-color: #cfb1bf;
  }
  100% {
    background-color: #cfb1bf;
  }
}
@keyframes bgColorAn {
  0% {
    background-color: #c9b1b1;
  }
  40% {
    background-color: #c9b1b1;
  }
  60% {
    background-color: #cfb1bf;
  }
  100% {
    background-color: #cfb1bf;
  }
}

@-webkit-keyframes updown {
  0% {
    transform: translate(0%, -0.5%);
    -webkit-transform: translate(0%, -0.5%);
    -moz-transform: translate(0%, -0.5%);
    -ms-transform: translate(0%, -0.5%);
  }
  100% {
    transform: translate(0%, 0.5%);
    -webkit-transform: translate(0%, 0.5%);
    -moz-transform: translate(0%, 0.5%);
    -ms-transform: translate(0%, 0.5%);
  }
}

@keyframes updown {
  0% {
    transform: translate(0%, -0.5%);
    -webkit-transform: translate(0%, -0.5%);
    -moz-transform: translate(0%, -0.5%);
    -ms-transform: translate(0%, -0.5%);
  }
  100% {
    transform: translate(0%, 0.5%);
    -webkit-transform: translate(0%, 0.5%);
    -moz-transform: translate(0%, 0.5%);
    -ms-transform: translate(0%, 0.5%);
  }
}

@-webkit-keyframes swing {
  0% {
    transform: translate(5%, 0%);
    -webkit-transform: translate(5%, 0%);
    -moz-transform: translate(5%, 0%);
    -ms-transform: translate(5%, 0%);
  }
  100% {
    transform: translate(-5%, 0%);
    -webkit-transform: translate(-5%, 0%);
    -moz-transform: translate(-5%, 0%);
    -ms-transform: translate(-5%, 0%);
  }
}

@keyframes swing {
  0% {
    transform: translate(5%, 0%);
    -webkit-transform: translate(5%, 0%);
    -moz-transform: translate(5%, 0%);
    -ms-transform: translate(5%, 0%);
  }
  100% {
    transform: translate(-5%, 0%);
    -webkit-transform: translate(-5%, 0%);
    -moz-transform: translate(-5%, 0%);
    -ms-transform: translate(-5%, 0%);
  }
}

@-webkit-keyframes swipe {
  0% {
    transform: translate(6%, 0%);
    -webkit-transform: translate(6%, 0%);
    -moz-transform: translate(6%, 0%);
    -ms-transform: translate(6%, 0%);
    opacity: 0;
  }
  25% {
    transform: translate(3%, 0%);
    -webkit-transform: translate(3%, 0%);
    -moz-transform: translate(3%, 0%);
    -ms-transform: translate(3%, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    opacity: 1;
  }
  75% {
    transform: translate(-3%, 0%);
    -webkit-transform: translate(-3%, 0%);
    -moz-transform: translate(-3%, 0%);
    -ms-transform: translate(-3%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-6%, 0%);
    -webkit-transform: translate(-6%, 0%);
    -moz-transform: translate(-6%, 0%);
    -ms-transform: translate(-6%, 0%);
    opacity: 0;
  }
}

@keyframes swipe {
  0% {
    transform: translate(6%, 0%);
    -webkit-transform: translate(6%, 0%);
    -moz-transform: translate(6%, 0%);
    -ms-transform: translate(6%, 0%);
    opacity: 0;
  }
  25% {
    transform: translate(3%, 0%);
    -webkit-transform: translate(3%, 0%);
    -moz-transform: translate(3%, 0%);
    -ms-transform: translate(3%, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    opacity: 1;
  }
  75% {
    transform: translate(-3%, 0%);
    -webkit-transform: translate(-3%, 0%);
    -moz-transform: translate(-3%, 0%);
    -ms-transform: translate(-3%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-6%, 0%);
    -webkit-transform: translate(-6%, 0%);
    -moz-transform: translate(-6%, 0%);
    -ms-transform: translate(-6%, 0%);
    opacity: 0;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@-webkit-keyframes spark {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

@keyframes spark {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

@-webkit-keyframes spark-bd {
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}

@keyframes spark-bd {
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes boomFadeLg {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes boomFadeLg {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes bottleRotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-5deg);
            transform: translate(-50%, -50%) rotate(-5deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(5deg);
            transform: translate(-50%, -50%) rotate(5deg);
  }
}

@keyframes bottleRotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-5deg);
            transform: translate(-50%, -50%) rotate(-5deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(5deg);
            transform: translate(-50%, -50%) rotate(5deg);
  }
}

.contactUs {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: #eceeee;
  padding-bottom: 50px;
  z-index: 5;
}

.contactUs .contactBox {
  margin-top: 20px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.contactUs .contactBox .plane {
  width: 5vw;
  height: 4vw;
  background-image: url(../images/paperPlain.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .contactUs .contactBox .plane {
    width: 15vw;
    height: 12vw;
  }
}

.contactUs .contactBox h3 {
  color: #004498;
  font-weight: bold;
}

.contactUs .contactBox .buttonArea {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
}

.contactUs .contactBox .buttonArea .shareBtn {
  display: inline-block;
  margin: 20px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
}

@media only screen and (max-width: 767px) {
  .contactUs .contactBox .buttonArea .shareBtn {
    margin: 10px;
  }
}

@media only screen and (max-width: 499px) {
  .contactUs .contactBox .buttonArea .shareBtn {
    margin: 10px 20px;
  }
}

.contactUs .contactBox .buttonArea .shareBtn i {
  font-size: 4vw;
  color: #004498;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

@media only screen and (max-width: 767px) {
  .contactUs .contactBox .buttonArea .shareBtn i {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 499px) {
  .contactUs .contactBox .buttonArea .shareBtn i {
    font-size: 12vw;
  }
}

.contactUs .contactBox .buttonArea .shareBtn:hover i {
  color: #00397f;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contactUs .contactBox .buttonArea .shareBtn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #004498;
  z-index: 5;
}

.footer .container-fluid .copyright {
  padding: 20px 0;
  text-align: center;
}

.footer .container-fluid .copyright small {
  color: #fff;
}

.scroll {
  position: fixed;
  left: 50%;
  bottom: 3%;
  font-size: 18px;
  text-decoration: none;
  z-index: 50;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

@media only screen and (max-width: 767px) {
  .scroll {
    bottom: 5px;
  }
}

.scroll:hover {
  text-decoration: none;
}

.scroll:hover .scrollLine .line {
  -webkit-animation: scrollLine 1s .3s both 1;
          animation: scrollLine 1s .3s both 1;
}

.scroll:hover .scrollLine:after {
  opacity: 0;
}

.scroll:hover .scrollLine .dot {
  opacity: 0;
}

.scroll:hover .scrollLine:before {
  -webkit-animation: dissipate .5s .4s both;
          animation: dissipate .5s .4s both;
}

.scroll:hover .circle2 {
  -webkit-animation: dissipate2 .5s .6s both;
          animation: dissipate2 .5s .6s both;
}

.scroll p {
  color: #fff;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.scroll p:hover {
  text-decoration: none;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.scroll .scrollLine {
  position: relative;
  margin-top: 5px;
  width: 15px;
  height: 50px;
  overflow: hidden;
}

.scroll .scrollLine:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  width: 15px;
  height: 30px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.scroll .scrollLine .dot {
  position: absolute;
  left: 50%;
  top: 0;
  width: 7px;
  height: 7px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-animation: dots 2s both 5;
          animation: dots 2s both 5;
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.scroll .scrollLine .line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  width: 1px;
  height: 50px;
  background-color: #fff;
}

.scroll .scrollLine:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 50%;
}

@-webkit-keyframes scrollLine {
  0% {
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
  }
  25% {
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  }
  75% {
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
  }
}

@keyframes scrollLine {
  0% {
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
  }
  25% {
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  }
  75% {
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
  }
}

@-webkit-keyframes dots {
  0% {
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 250%);
    -webkit-transform: translate(-50%, 250%);
    -moz-transform: translate(-50%, 250%);
    -ms-transform: translate(-50%, 250%);
  }
}

@keyframes dots {
  0% {
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 250%);
    -webkit-transform: translate(-50%, 250%);
    -moz-transform: translate(-50%, 250%);
    -ms-transform: translate(-50%, 250%);
  }
}

@-webkit-keyframes dissipate {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  50% {
    opacity: 1;
    width: 7px;
    height: 7px;
  }
  100% {
    opacity: 0;
    width: 15px;
    height: 15px;
  }
}

@keyframes dissipate {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  50% {
    opacity: 1;
    width: 7px;
    height: 7px;
  }
  100% {
    opacity: 0;
    width: 15px;
    height: 15px;
  }
}

.scroll .circle2 {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 25%);
  -webkit-transform: translate(-50%, 25%);
  -moz-transform: translate(-50%, 25%);
  -ms-transform: translate(-50%, 25%);
  border-radius: 50%;
}

@-webkit-keyframes dissipate2 {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  50% {
    opacity: 1;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
  }
  100% {
    opacity: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
  }
}

@keyframes dissipate2 {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  50% {
    opacity: 1;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
  }
  100% {
    opacity: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
  }
}
/*# sourceMappingURL=security.css.map */