/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@font-face {
  font-family: "NokiaPureHead_Light";
  src: url(../fonts/NokiaPureHeadline_Light.ttf);
}

@font-face {
  font-family: "NokiaPureHead_Regular";
  src: url(../fonts/NokiaPureHeadline_Regular.ttf);
}

@keyframes move {
  0% {
    top: 0vw;
  }
  20% {
    top: -5vw;
  }
  40% {
    top: -10vw;
  }
  60% {
    top: -15vw;
  }
  80% {
    top: -20vw;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0vw;
  }
  20% {
    top: -5vw;
  }
  40% {
    top: -10vw;
  }
  60% {
    top: -15vw;
  }
  80% {
    top: -20vw;
  }
}

.tagMenu {
  margin-top: 30px;
}

.tagMenu .container-fluid {
  width: 85%;
}

.tagMenu .container-fluid h2 {
  color: #124191;
}

.tagMenu .container-fluid p {
  color: #124191;
  max-width: 700px;
}

.tagMenu .container-fluid .pic {
  position: relative;
  width: 100%;
  height: 38vw;
  background-image: url(../images/exhibition_banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tagMenu .container-fluid .pic a .tag {
  position: absolute;
  top: 37%;
  width: 11vw;
  height: 11vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

.tagMenu .container-fluid .pic a .tag.tag1 {
  left: 23.3%;
  background-image: url(../images/experience.png);
}

.tagMenu .container-fluid .pic a .tag.tag2 {
  left: 41.3%;
  background-image: url(../images/operation.png);
}

.tagMenu .container-fluid .pic a .tag.tag3 {
  left: 59.4%;
  background-image: url(../images/networks.png);
}

.tagMenu .container-fluid .pic a:hover .tag {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.exhibitionArea {
  margin-top: 50px;
  margin-bottom: 80px;
}

.exhibitionArea .container-fluid {
  width: 70%;
}

@media only screen and (max-width: 1279px) {
  .exhibitionArea .container-fluid {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .exhibitionArea .container-fluid {
    width: 90%;
  }
}

.exhibitionArea .container-fluid .exhibitionBar .titleBar {
  position: relative;
}

.exhibitionArea .container-fluid .exhibitionBar .titleBar h2 {
  padding-bottom: 10px;
  color: #124191;
}

.exhibitionArea .container-fluid .exhibitionBar .titleBar .bdline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #bec8d2;
}

.exhibitionArea .container-fluid .exhibitionBar .picBox {
  position: relative;
  width: 100%;
  height: 10vw;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

@media only screen and (max-width: 767px) {
  .exhibitionArea .container-fluid .exhibitionBar .picBox {
    height: 15vw;
  }
}

.exhibitionArea .container-fluid .exhibitionBar .picBox .pic {
  position: absolute;
  width: 100%;
  height: 24vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

@media only screen and (max-width: 767px) {
  .exhibitionArea .container-fluid .exhibitionBar .picBox .pic {
    height: 15vw;
  }
}

.exhibitionArea .container-fluid .exhibitionBar .exhibitionList {
  list-style-type: none;
  margin-top: 10px;
  padding-left: 0;
}

.exhibitionArea .container-fluid .exhibitionBar .exhibitionList li {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bec8d2;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

.exhibitionArea .container-fluid .exhibitionBar .exhibitionList li:hover {
  background-color: #edf3f5;
}

.exhibitionArea .container-fluid .exhibitionBar .exhibitionList li:hover:before {
  width: 100%;
}

.exhibitionArea .container-fluid .exhibitionBar .exhibitionList li:before {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: #0065ed;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

.mainList .row .menuBox .picBox:hover .title {
  top: 10%;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.mainList .row .menuBox .picBox:hover .title p {
  font-size: 16px;
}

.mainList .row .menuBox .title {
  left: 5%;
  top: 5%;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  max-width: 300px;
}

.mainList .titleBar {
  position: relative;
}

.mainList .titleBar h2 {
  margin-left: 15px;
  padding-bottom: 15px;
}

.mainList .titleBar p {
  margin-left: 15px;
  padding-bottom: 15px;
}

.mainList .titleBar .bdline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #bec8d2;
}

.mainList.NIFNBGBooth {
  background-color: #124191;
}

.mainList.NIFNBGBooth .titleBar h2 {
  color: #fff;
}

.mainList.NIFNBGBooth .titleBar p {
  color: #fff;
}

.mainList.NIOPBGBooth .titleBar h2 {
  color: #124191;
}

.mainList.NIOPBGBooth .titleBar p {
  color: #124191;
}

.mainList.CNSBGBooth .titleBar h2 {
  color: #124191;
}

.mainList.CNSBGBooth .titleBar p {
  color: #124191;
}

.mainList.NIIPBGBooth {
  background-color: #001135;
}

.mainList.NIIPBGBooth .titleBar h2 {
  color: #fff;
}

.mainList.NIIPBGBooth .titleBar p {
  color: #fff;
}

.mainList.MNBGBooth .titleBar h2 {
  color: #124191;
}

.mainList.MNBGBooth .titleBar p {
  color: #124191;
}

.footer {
  margin-top: 0;
}
/*# sourceMappingURL=exhibition.css.map */