@charset "UTF-8";
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Noto+Sans+TC:wght@300&family=Noto+Serif+TC&family=Playfair+Display:wght@400;700&display=swap");
@-webkit-keyframes updown {
  0% {
    transform: translate(0%, -0.5%);
    -webkit-transform: translate(0%, -0.5%);
    -moz-transform: translate(0%, -0.5%);
    -ms-transform: translate(0%, -0.5%);
  }
  100% {
    transform: translate(0%, 0.5%);
    -webkit-transform: translate(0%, 0.5%);
    -moz-transform: translate(0%, 0.5%);
    -ms-transform: translate(0%, 0.5%);
  }
}
@keyframes updown {
  0% {
    transform: translate(0%, -0.5%);
    -webkit-transform: translate(0%, -0.5%);
    -moz-transform: translate(0%, -0.5%);
    -ms-transform: translate(0%, -0.5%);
  }
  100% {
    transform: translate(0%, 0.5%);
    -webkit-transform: translate(0%, 0.5%);
    -moz-transform: translate(0%, 0.5%);
    -ms-transform: translate(0%, 0.5%);
  }
}

@-webkit-keyframes swing {
  0% {
    transform: translate(5%, 0%);
    -webkit-transform: translate(5%, 0%);
    -moz-transform: translate(5%, 0%);
    -ms-transform: translate(5%, 0%);
  }
  100% {
    transform: translate(-5%, 0%);
    -webkit-transform: translate(-5%, 0%);
    -moz-transform: translate(-5%, 0%);
    -ms-transform: translate(-5%, 0%);
  }
}

@keyframes swing {
  0% {
    transform: translate(5%, 0%);
    -webkit-transform: translate(5%, 0%);
    -moz-transform: translate(5%, 0%);
    -ms-transform: translate(5%, 0%);
  }
  100% {
    transform: translate(-5%, 0%);
    -webkit-transform: translate(-5%, 0%);
    -moz-transform: translate(-5%, 0%);
    -ms-transform: translate(-5%, 0%);
  }
}

@-webkit-keyframes swipe {
  0% {
    transform: translate(6%, 0%);
    -webkit-transform: translate(6%, 0%);
    -moz-transform: translate(6%, 0%);
    -ms-transform: translate(6%, 0%);
    opacity: 0;
  }
  25% {
    transform: translate(3%, 0%);
    -webkit-transform: translate(3%, 0%);
    -moz-transform: translate(3%, 0%);
    -ms-transform: translate(3%, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    opacity: 1;
  }
  75% {
    transform: translate(-3%, 0%);
    -webkit-transform: translate(-3%, 0%);
    -moz-transform: translate(-3%, 0%);
    -ms-transform: translate(-3%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-6%, 0%);
    -webkit-transform: translate(-6%, 0%);
    -moz-transform: translate(-6%, 0%);
    -ms-transform: translate(-6%, 0%);
    opacity: 0;
  }
}

@keyframes swipe {
  0% {
    transform: translate(6%, 0%);
    -webkit-transform: translate(6%, 0%);
    -moz-transform: translate(6%, 0%);
    -ms-transform: translate(6%, 0%);
    opacity: 0;
  }
  25% {
    transform: translate(3%, 0%);
    -webkit-transform: translate(3%, 0%);
    -moz-transform: translate(3%, 0%);
    -ms-transform: translate(3%, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    opacity: 1;
  }
  75% {
    transform: translate(-3%, 0%);
    -webkit-transform: translate(-3%, 0%);
    -moz-transform: translate(-3%, 0%);
    -ms-transform: translate(-3%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-6%, 0%);
    -webkit-transform: translate(-6%, 0%);
    -moz-transform: translate(-6%, 0%);
    -ms-transform: translate(-6%, 0%);
    opacity: 0;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes spark {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

@keyframes spark {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

@-webkit-keyframes spark-bd {
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}

@keyframes spark-bd {
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes boomFadeLg {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes boomFadeLg {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes backgroundMove {
  0% {
    background-position: 50% 20%;
  }
  100% {
    background-position: 50% 50%;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: 50% 20%;
  }
  100% {
    background-position: 50% 50%;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-scrolling: touch;
  font-family: "Playfair Display","Noto Serif TC", "微軟正黑體";
  font-weight: 500;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
}

.headerCover {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.headerCover .quote {
  font-size: 28px;
  color: #dbc5a4;
  margin-bottom: 10px;
}

.headerCover .quote .char {
  display: inline-block;
  letter-spacing: 2px;
  font-family: 'Moon Dance';
  opacity: 0;
}

.headerCover .loadingBar {
  position: relative;
  margin-top: 20px;
  width: 100vw;
  height: 1px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.headerCover .loadingBar .loadingValue {
  position: absolute;
  background-color: #dbc5a4;
  width: 0;
  height: 3px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .headerCover .crabLogo {
    width: 20vw;
    height: 20vw;
  }
  .headerCover .progressBar {
    width: 40vw;
  }
}

@media only screen and (max-width: 767px) {
  .headerCover .crabLogo {
    width: 30vw;
    height: 30vw;
  }
  .headerCover .progressBar {
    width: 50vw;
  }
}

.progressBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  z-index: 50;
}

.progressBar .progressValue {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  width: 0%;
  height: 5px;
  background-color: #dbc5a4;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  background-color: #030303;
}

.banner .bannerInfo {
  width: 50%;
}

.banner .bannerInfo .infoText {
  width: 80%;
  margin: auto;
}

.banner .bannerInfo .infoText .infoList {
  margin-bottom: 20px;
  font-size: 1.2vw;
  color: #878176;
  white-space: nowrap;
}

.banner .bannerPic {
  width: 50%;
  height: 100vh;
  background-image: url(../images/syun.png);
  -webkit-filter: grayscale(100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .bannerTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.banner .bannerTitle .titleText {
  font-size: 5vw;
  color: #fff;
  font-family: 'Playfair Display';
}

.banner .decorationText {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #dbc5a4;
  opacity: 0.1;
  font-size: 10vw;
  font-weight: bold;
  white-space: nowrap;
}

.mainTitle {
  text-align: center;
}

.mainTitle .title h1 {
  display: inline-block;
  color: #dbc5a4;
  font-weight: 900;
  text-align: center;
  padding: 7px 20px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 767px) {
  .mainTitle .title h1 {
    font-size: 28px;
  }
}

.first-article {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#030303), to(#222222));
  background: linear-gradient(#030303, #222222);
  padding-top: 50px;
  padding-bottom: 70px;
  width: 100%;
  overflow: hidden;
}

.first-article .container-fluid {
  width: 60%;
}

@media only screen and (max-width: 1279px) {
  .first-article .container-fluid {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .first-article .container-fluid {
    width: 90%;
  }
}

.first-article .container-fluid .articleSection {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.first-article .container-fluid .articleSection .articleText {
  margin: 0 3vw;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .first-article .container-fluid .articleSection .articleText {
    margin-top: 50px;
  }
}

.first-article .container-fluid .articleSection .articleText p {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: #878176;
  margin-top: 20px;
}

.first-article .container-fluid .articleSection .articleText p .runNum {
  display: inline-block;
  padding: 2px 10px;
  font-size: 32px;
  color: #65AC1E;
  font-weight: 900;
}

.first-article .container-fluid .articleSection .articleText p .runNum small {
  font-size: 18px;
  font-weight: bold;
  margin-left: 2px;
}

@media only screen and (max-width: 767px) {
  .first-article .container-fluid .articleSection .articleText p .runNum {
    display: block;
    font-size: 10vw;
    line-height: 1;
  }
}

@media only screen and (max-width: 1279px) {
  .first-article .container-fluid .articleSection .articleText p {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .first-article .container-fluid .articleSection .articleText p {
    width: 100%;
    font-size: 18px;
  }
}

.first-article .container-fluid .articleSection .articleText h4 {
  text-align: center;
}

.first-article .container-fluid .articleSection .articleText h4 .dataProp {
  font-weight: bold;
  font-size: 84px;
  font-weight: 900;
  color: #fff;
  line-height: 1;
}

@media only screen and (max-width: 767px) {
  .first-article .container-fluid .articleSection .articleText h4 .dataProp {
    font-size: 10vw;
  }
}

.first-article .container-fluid .articleSection .articleText h4 .ton {
  font-weight: bold;
  margin-left: 10px;
  font-size: 24px;
  color: #fff;
}

.first-article .container-fluid .riceGroup {
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

@media only screen and (max-width: 767px) {
  .first-article .container-fluid .riceGroup {
    margin-top: 50px;
  }
}

.first-article .container-fluid .riceGroup .riceGroupImg {
  position: relative;
  background-image: url(../images/paddy.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 44vw;
  height: 20vw;
}

@media only screen and (max-width: 767px) {
  .first-article .container-fluid .riceGroup .riceGroupImg {
    width: 66vw;
    height: 30vw;
  }
}

.bad-weather {
  position: relative;
  background-color: #cafdff;
  height: 100vh;
  padding-top: 100px;
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .bad-weather {
    padding-top: 50px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .bad-weather {
    padding-top: 10px;
  }
}

.bad-weather p {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 100px;
}

@media only screen and (max-width: 767px) {
  .bad-weather p {
    width: 90%;
    margin: auto;
    margin-top: 15vh;
    font-size: 18px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .bad-weather p {
    margin-top: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .bad-weather p {
    margin-top: 0;
  }
}

.bad-weather p .runNum {
  display: inline-block;
  padding: 3px 7px 7px;
  margin-left: 5px;
  font-size: 36px;
  color: #fff;
  line-height: 1;
  background-color: #65AC1E;
  font-weight: 900;
}

.bad-weather p .runNum small {
  font-weight: bold;
  margin-left: 2px;
}

@media only screen and (max-width: 767px) {
  .bad-weather p .runNum {
    font-size: 8vw;
    line-height: 1;
    margin-top: 20px;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .bad-weather p .runNum {
    font-size: 4vw;
    margin-top: 10px;
  }
}

.bad-weather h5 {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .bad-weather br.brLine {
    display: none;
  }
}

.bad-weather .darkGrass {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 13vw;
  background-image: url(../images/darkGrass.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .bad-weather .darkGrass {
    width: 100%;
    height: 26vw;
  }
}

@media only screen and (max-width: 767px) {
  .bad-weather .darkGrass {
    width: 100%;
    height: 39vw;
    bottom: -5px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .bad-weather .darkGrass {
    height: 13vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .bad-weather .darkGrass {
    height: 13vw;
  }
}

.bad-weather .flash1 {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 34vw;
  height: 20vw;
  background-image: url(../images/flash1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .bad-weather .flash1 {
    width: 51vw;
    height: 30vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .bad-weather .flash1 {
    width: 34vw;
    height: 20vw;
    opacity: 0.3;
  }
}

.bad-weather .flash2 {
  position: absolute;
  z-index: 1;
  right: 0%;
  top: 0%;
  width: 34vw;
  height: 20vw;
  background-image: url(../images/flash2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .bad-weather .flash2 {
    width: 51vw;
    height: 30vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .bad-weather .flash2 {
    width: 34vw;
    height: 20vw;
    opacity: 0.3;
  }
}

.bad-weather .cloud-day-1 {
  position: absolute;
  z-index: -1;
  right: 0%;
  top: 0%;
  width: 33vw;
  height: 7.5vw;
  background-image: url(../images/purpleCloud1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .bad-weather .cloud-day-1 {
    width: 66vw;
    height: 15vw;
  }
}

.bad-weather .cloud-day-2 {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100vw;
  height: 42vw;
  background-image: url(../images/purpleCloud2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .bad-weather .cloud-day-2 {
    width: 100vw;
    height: 42vw;
  }
}

.bad-weather .sun {
  position: absolute;
  left: 50%;
  top: 70%;
  z-index: -1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 35vw;
  height: 28vw;
  background-image: url(../images/deadGrass.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 1279px) {
  .bad-weather .sun {
    top: 70%;
    width: 70vw;
    height: 56vw;
  }
}

@media only screen and (max-width: 767px) {
  .bad-weather .sun {
    top: 70%;
    width: 70vw;
    height: 56vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .bad-weather .sun {
    width: 35vw;
    height: 28vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .bad-weather .sun {
    width: 35vw;
    height: 28vw;
  }
}

.grow-story {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.grow-story .scene {
  width: 100%;
  height: 100vh;
}

.grow-story .scene.seaScene {
  position: relative;
  background-color: #222222;
  border: none;
  overflow: hidden;
}

.grow-story .scene.seaScene .sceneCover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7a6d7c;
}

.grow-story .scene.seaScene .textContent {
  position: relative;
  margin-top: 7vh;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  z-index: 50;
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .textContent {
    margin-top: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .textContent {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .textContent .yearBar {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .textContent .yearBar {
    width: 90%;
  }
}

.grow-story .scene.seaScene .textContent .yearBar .numberBar {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  padding: 7px 0;
  border-radius: 50px;
  border: 1px solid #fff;
  margin-top: 30px;
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .textContent .yearBar .numberBar {
    margin-top: 15px;
  }
}

.grow-story .scene.seaScene .textContent .yearBar .numberBar .number {
  font-weight: bold;
  font-size: 18px;
  margin: 0 10px;
}

.grow-story .scene.seaScene .textContent .yearBar .numberBar .number a {
  position: relative;
  display: inline-block;
  padding: 4px 15px 7px;
  border-radius: 50px;
  line-height: 1;
  text-decoration: none;
  color: #878176;
  background-color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: initial;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .textContent .yearBar .numberBar .number a {
    letter-spacing: -2px;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .textContent .yearBar .numberBar .number a {
    font-size: 14px;
  }
}

.grow-story .scene.seaScene .textContent .yearBar .numberBar .number a:hover {
  color: #fff;
  background-color: #dbc5a4;
}

.grow-story .scene.seaScene .textContent .textArea {
  position: relative;
  width: 100vw;
  margin-top: 7vh;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  z-index: 20;
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .textContent .textArea {
    margin-top: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .textContent .textArea {
    margin-top: 0;
  }
}

.grow-story .scene.seaScene .textContent .textArea .textContentArticle {
  width: 100vw;
  min-width: 100vw;
  position: relative;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #878176;
  margin: 0;
  z-index: 20;
}

.grow-story .scene.seaScene .textContent .textArea .textContentArticle .noticeText {
  background-color: #de4f43;
  color: #fff;
  white-space: nowrap;
  padding: 3px 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .grow-story .scene.seaScene .textContent .textArea .textContentArticle {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .textContent .textArea .textContentArticle {
    font-size: 16px;
    padding: 0 30px;
    margin: auto;
    margin-top: 20px;
    line-height: 2;
  }
  .grow-story .scene.seaScene .textContent .textArea .textContentArticle br {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .textContent .textArea .textContentArticle {
    margin-top: 30px;
    font-size: 16px;
    padding-left: 7vw;
    padding-right: 7vw;
  }
  .grow-story .scene.seaScene .textContent .textArea .textContentArticle br {
    display: none;
  }
}

.grow-story .scene.seaScene .grassStep {
  position: absolute;
  left: 50%;
  bottom: 17%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  z-index: 50;
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .grassStep {
    bottom: 8%;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep {
    bottom: 17%;
  }
}

.grow-story .scene.seaScene .grassStep.grassStep1 {
  width: 24vw;
  height: 15vw;
  background-image: url(../images/grassStep1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .grassStep.grassStep1 {
    width: 36vw;
    height: 22.5vw;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep1 {
    width: 48vw;
    height: 30vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .grassStep.grassStep1 {
    width: 24vw;
    height: 15vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep1 {
    width: 24vw;
    height: 15vw;
  }
}

.grow-story .scene.seaScene .grassStep.grassStep2 {
  width: 25vw;
  height: 20vw;
  background-image: url(../images/grassStep2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 {
    width: 37.5vw;
    height: 30vw;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 {
    width: 50vw;
    height: 40vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 {
    width: 25vw;
    height: 20vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 {
    width: 25vw;
    height: 20vw;
  }
}

.grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox {
  width: 4vw;
  height: 4vw;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox {
    width: 6vw;
    height: 6vw;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox {
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox {
    width: 6vw;
    height: 6vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox {
    width: 6vw;
    height: 6vw;
  }
}

.grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed1Box {
  left: 10%;
  bottom: 5%;
}

.grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed1Box .weed1 {
  position: absolute;
  bottom: 0;
  right: -50%;
  width: 6.5vw;
  height: 10vw;
  background-image: url(../images/weed1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed1Box .weed1 {
    width: 9.75vw;
    height: 15vw;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed1Box .weed1 {
    width: 13vw;
    height: 20vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed1Box .weed1 {
    width: 9.75vw;
    height: 15vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed1Box .weed1 {
    width: 9.75vw;
    height: 15vw;
  }
}

.grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed2Box {
  left: 45%;
  bottom: 20%;
}

.grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed2Box .weed2 {
  position: absolute;
  bottom: 0;
  right: -50%;
  width: 7vw;
  height: 8vw;
  background-image: url(../images/weed2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed2Box .weed2 {
    width: 10.5vw;
    height: 12vw;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed2Box .weed2 {
    width: 14vw;
    height: 16vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed2Box .weed2 {
    width: 10.5vw;
    height: 12vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed2Box .weed2 {
    width: 10.5vw;
    height: 12vw;
  }
}

.grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed3Box {
  right: 5%;
  bottom: 0;
}

.grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed3Box .weed3 {
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 6vw;
  height: 8vw;
  background-image: url(../images/weed3.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed3Box .weed3 {
    width: 12vw;
    height: 16vw;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed3Box .weed3 {
    width: 18vw;
    height: 24vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed3Box .weed3 {
    width: 12vw;
    height: 16vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep2 .sessionBox.weed3Box .weed3 {
    width: 12vw;
    height: 16vw;
  }
}

.grow-story .scene.seaScene .grassStep.grassStep3 {
  width: 24vw;
  height: 22vw;
  background-image: url(../images/grassStep3.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .grassStep.grassStep3 {
    width: 36vw;
    height: 33vw;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep3 {
    width: 48vw;
    height: 44vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .grassStep.grassStep3 {
    width: 24vw;
    height: 22vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .grassStep.grassStep3 {
    width: 24vw;
    height: 22vw;
  }
}

.grow-story .scene.seaScene .ground {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 10vw;
  background-color: #7c4811;
  z-index: 30;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .ground {
    height: 25vw;
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .ground {
    height: 30vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .ground {
    height: 10vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .ground {
    height: 10vw;
  }
}

.grow-story .scene.seaScene .ground .groundMud {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -90%);
  -webkit-transform: translate(-50%, -90%);
  -moz-transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
  width: 60vw;
  height: 10vw;
  background-image: url(../images/groundMud.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: 1279px) {
  .grow-story .scene.seaScene .ground .groundMud {
    width: 90vw;
    height: 15vw;
    transform: translate(-50%, -110%);
    -webkit-transform: translate(-50%, -110%);
    -moz-transform: translate(-50%, -110%);
    -ms-transform: translate(-50%, -110%);
  }
}

@media only screen and (max-width: 767px) {
  .grow-story .scene.seaScene .ground .groundMud {
    width: 120vw;
    height: 20vw;
    transform: translate(-50%, -110%);
    -webkit-transform: translate(-50%, -110%);
    -moz-transform: translate(-50%, -110%);
    -ms-transform: translate(-50%, -110%);
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .grow-story .scene.seaScene .ground .groundMud {
    width: 60vw;
    height: 10vw;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .grow-story .scene.seaScene .ground .groundMud {
    width: 60vw;
    height: 10vw;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
  }
}

.equipment {
  position: relative;
  padding-top: 150px;
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #dbc5a4;
}

@media only screen and (max-width: 767px) {
  .equipment {
    padding-top: 70px;
    padding-bottom: 0;
  }
}

.equipment .container-fluid {
  width: 60%;
  text-align: center;
}

@media only screen and (max-width: 1279px) {
  .equipment .container-fluid {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid {
    width: 90%;
  }
}

.equipment .container-fluid .introSec {
  margin-top: 50px;
}

.equipment .container-fluid .introSec .introBar {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }
}

.equipment .container-fluid .introSec .introBar .introPic .pic {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introPic .pic {
    width: 30vw;
    height: 60vw;
  }
}

.equipment .container-fluid .introSec .introBar .introPic .pic .picBefore {
  width: 20vw;
  height: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introPic .pic .picBefore {
    width: 30vw;
    height: 60vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introPic .pic .picBefore {
    width: 20vw;
    height: 40vw;
  }
}

.equipment .container-fluid .introSec .introBar .introPic .pic .picAfter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 20vw;
  height: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  opacity: 0;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introPic .pic .picAfter {
    width: 30vw;
    height: 60vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introPic .pic .picAfter {
    width: 20vw;
    height: 40vw;
  }
}

.equipment .container-fluid .introSec .introBar .introPic .pic .backLight {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 50vw;
  height: 40vw;
  background-image: url(../images/backLight.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 0;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introPic .pic .backLight {
    width: 75vw;
    height: 60vw;
  }
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introPic .pic {
    width: 60vw;
    height: 48vw;
    background-position: left bottom;
  }
}

.equipment .container-fluid .introSec .introBar .introText {
  max-width: 420px;
  margin-left: 4vw;
  text-align: left;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText {
    margin-left: 0vw;
    max-width: none;
    width: 100%;
  }
}

.equipment .container-fluid .introSec .introBar .introText h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #65AC1E;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    display: block;
    margin-top: 50px;
  }
}

.equipment .container-fluid .introSec .introBar .introText .textArea {
  position: relative;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  z-index: 20;
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .equipment .container-fluid .introSec .introBar .introText .textArea {
    margin-top: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText .textArea {
    margin-top: 0;
  }
}

.equipment .container-fluid .introSec .introBar .introText .textArea .textContentWord {
  width: 100%;
  min-width: 100%;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1b6d5d;
  margin: 0;
  z-index: 20;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .equipment .container-fluid .introSec .introBar .introText .textArea .textContentWord {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText .textArea .textContentWord {
    font-size: 16px;
    padding: 0 30px;
    margin: auto;
    margin-top: 20px;
    line-height: 2;
  }
  .equipment .container-fluid .introSec .introBar .introText .textArea .textContentWord br {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .equipment .container-fluid .introSec .introBar .introText .textArea .textContentWord {
    margin-top: 30px;
    font-size: 16px;
    padding-left: 7vw;
    padding-right: 7vw;
  }
  .equipment .container-fluid .introSec .introBar .introText .textArea .textContentWord br {
    display: none;
  }
}

.equipment .container-fluid .introSec .introBar .introText .introDetail {
  position: relative;
  margin-top: 50px;
  padding: 20px;
  width: 25vw;
  height: 20vw;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText .introDetail {
    width: 75vw;
    height: 60vw;
  }
}

.equipment .container-fluid .introSec .introBar .introText .introDetail .circle {
  position: absolute;
  left: 0;
  top: 0;
  position: relative;
  background-color: #fff;
  border: 10px solid #65AC1E;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText .introDetail .circle {
    width: 60vw;
    height: 60vw;
  }
}

.equipment .container-fluid .introSec .introBar .introText .introDetail .before {
  position: absolute;
  content: '';
  left: 10%;
  top: 0%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10vw 10vw 0 0;
  border-color: #65AC1E transparent transparent transparent;
  z-index: 0;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText .introDetail .before {
    border-width: 30vw 30vw 0 0;
  }
}

.equipment .container-fluid .introSec .introBar .introText .introDetail .protectSet {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-image: url(../images/protectSet.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText .introDetail .protectSet {
    width: 30vw;
    height: 30vw;
  }
}

.equipment .container-fluid .introSec .introBar .introText .productDetail {
  margin-top: 20px;
  margin-bottom: 20px;
}

.equipment .container-fluid .introSec .introBar .introText .productDetail .product {
  width: 20vw;
  height: 20vw;
  background-image: url(../images/protection.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .equipment .container-fluid .introSec .introBar .introText .productDetail .product {
    width: 100%;
    height: 50vw;
  }
}

.equipment:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  transform: translate(0, -2%);
  -webkit-transform: translate(0, -2%);
  -moz-transform: translate(0, -2%);
  -ms-transform: translate(0, -2%);
  width: 100%;
  height: 5vw;
  background-image: url(../images/green-curtain.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.story-end {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.story-end .scene {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #dbc5a4;
  border: none;
  padding-top: 20px;
  overflow: hidden;
}

.story-end .scene h1 {
  position: relative;
  font-weight: bold;
  text-align: center;
  color: #65AC1E;
  z-index: 40;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .story-end .scene h1 {
    font-size: 48px;
    line-height: 1.5;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .story-end .scene h1 {
    font-size: 36px;
    line-height: 1.5;
    margin: auto;
  }
  .story-end .scene h1 br {
    display: none;
  }
}

.story-end .scene h1 br {
  display: none;
}

@media only screen and (max-width: 767px) {
  .story-end .scene h1 br {
    display: block;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .story-end .scene h1 br {
    display: none;
  }
}

.story-end .scene .endGrass {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  width: 100vw;
  height: 35vw;
  background-image: url(../images/endGrass.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position: center top;
  z-index: 40;
}

@media only screen and (max-width: 767px) {
  .story-end .scene .endGrass {
    width: 100%;
    height: 40vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .story-end .scene .endGrass {
    width: 100vw;
    height: 40vw;
  }
}

.story-end .scene .sunlight {
  position: absolute;
  right: 20%;
  top: 20%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 7vw;
  height: 7vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffe0), to(#fffdff));
  background: linear-gradient(#ffffe0, #fffdff);
  z-index: 1;
}

@media only screen and (max-width: 1279px) {
  .story-end .scene .sunlight {
    width: 14vw;
    height: 14vw;
    top: 10%;
  }
}

.story-end .scene .sunlight:before {
  position: absolute;
  content: '';
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d2ffad));
  background: linear-gradient(#ffffff, #d2ffad);
  opacity: 0.2;
}

@media only screen and (max-width: 1279px) {
  .story-end .scene .sunlight:before {
    width: 18vw;
    height: 18vw;
  }
}

.story-end .scene .sunlight:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 11vw;
  height: 11vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d2ffad));
  background: linear-gradient(#ffffff, #d2ffad);
  opacity: 0.2;
}

@media only screen and (max-width: 1279px) {
  .story-end .scene .sunlight:after {
    width: 22vw;
    height: 22vw;
  }
}

.contactUs {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: #dbc5a4;
  padding-bottom: 50px;
}

.contactUs .logo {
  width: 10vw;
  height: 5vw;
  background-image: url(../images/greenLogo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .contactUs .logo {
    width: 30vw;
    height: 15vw;
  }
}

.contactUs .award {
  width: 20vw;
  height: 30vw;
  background-image: url(../images/award.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .contactUs .award {
    width: 40vw;
    height: 60vw;
  }
}

.contactUs h1 {
  font-weight: bold;
  color: #65AC1E;
}

@media only screen and (max-width: 767px) {
  .contactUs h1 {
    font-size: 28px;
  }
}

.contactUs .contactBox {
  margin-top: 50px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.contactUs .contactBox .plane {
  width: 5vw;
  height: 4vw;
  background-image: url(../images/paperPlain.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .contactUs .contactBox .plane {
    width: 15vw;
    height: 12vw;
  }
}

.contactUs .contactBox h3 {
  color: #1b6d5d;
  font-weight: bold;
}

.contactUs .contactBox .buttonArea {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
}

.contactUs .contactBox .buttonArea .shareBtn {
  display: inline-block;
  margin: 20px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
}

@media only screen and (max-width: 767px) {
  .contactUs .contactBox .buttonArea .shareBtn {
    margin: 10px;
  }
}

.contactUs .contactBox .buttonArea .shareBtn i {
  font-size: 4vw;
  color: #1b6d5d;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

@media only screen and (max-width: 767px) {
  .contactUs .contactBox .buttonArea .shareBtn i {
    font-size: 8vw;
  }
}

.contactUs .contactBox .buttonArea .shareBtn:hover i {
  color: #16594c;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contactUs .contactBox .buttonArea .shareBtn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.footer {
  width: 100%;
  overflow: hidden;
  background-color: #65AC1E;
}

.footer .container-fluid .copyright {
  padding: 20px 0;
  text-align: center;
}

.footer .container-fluid .copyright small {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */